*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #111;
  color: white;
  padding:5px 50px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;
}

.navTop {
    display: flex;
    margin-top: -20px;
    align-items: center;
    justify-content: space-between;
}

.navItem:first-child{
  margin:10px 20px;
  display:flex;
  cursor: none;
}

.navItem:last-child{
  margin-right: 10px;
}

.navItem:last-child i{
  margin:0 10px;
  font-size: 25px;
  display: inline;
  color: white;
  font-weight:400;
}

.navItem:last-child a{
  text-decoration: none;
}
.navItem:last-child i:hover{
  color:yellow;
  transition-duration: 0.3s;
}
.navItem .logo{
  font-weight: 900;
  font-size: 35px;
  display: inline;
  transform: skewX(-15deg);
  margin-top: 25px;
}

.navItem .logo-img{
    height: 125px;
    margin-left: -209px;
    width: 340px;
    transform: translateY(6px);
}
.search {
  display: flex;
  align-items: center;
  background-color: black;
  border:2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  width:300px;
  transition-duration: 0.5s;
}

.search:hover{
  background:gray;
}
.searchInput i{
  margin-left:50px;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 20px;
  cursor: pointer;
}

.limitedOffer:hover{
  border-bottom: 2px solid green;
  transition:0.3s;
}
.navBottom {
    display: flex;
    margin: -20px 0 10px 0;
    align-items: center;
    justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.menuItem:hover{
  color:blanchedalmond;
}

.slider {
  background: url("https://images.unsplash.com/photo-1607026567935-9688a07f7821?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8&w=1000&q=80");
  background-repeat: none;
  width:100%;
  height:100vh;
  background-size: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
  margin-top: 175px;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}
.sliderImg:hover{
  transform: translateY(-90px) rotate(-30deg);
}

.sliderTitle:hover{
  transform: translateX(-90px);
}

.sliderImg {
  z-index: 1;
  transition-duration: 0.5s;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
  transition-duration: 1s;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 2px solid black;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 900;
  color: white;
  padding:5px;
  border: none;
  background-color: black;
  z-index: 1;
  cursor: pointer;
  border-radius:15px;
  transition-duration: 0.5s;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
  font-weight: 400;
  background:white;
  border-radius: 10px;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: rebeccapurple;
  font-weight: 400;
  background:white;
  border-radius: 10px;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
  font-weight: 400;
  background:white;
  border-radius: 10px;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
  font-weight: 400;
  background:white;
  border-radius: 10px;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: rgb(124, 115, 80);
  font-weight: 400;
  background:white;
  border-radius: 10px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature i{
  font-size: 40px;
  font-weight: 400;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: burlywood;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.payment {
    width: 500px;
    height: 520;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-size: 20px;
  color: limegreen;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}

.cardIcons {
  display: flex;
}

.cardIcons {
  font-size:40px;
  margin-bottom:-8px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
    height: 40px;
    bottom: -10;
    width: 100%;
    left: 0;
    border-radius: 0 0 20px 20px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
}

.close {
  width: 30px;
  height: 30px;
  font-weight: 600;
  position: absolute;
  background-color: white;
  color: gray;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
  transition-duration: 1s;
}

.productTitle:hover{
  color:white;
  transform: translateY(-10px);
}
.productDesc {
  font-style: 24px;
  margin:10px 0;
  color: gray;
}

.productDetails h3{
  padding-right:10px;
}
.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: white;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: black;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  background:gray;
  border-radius: 20px;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  border:none;
  cursor: pointer;
  border-radius:10px;
  transition-duration: 0.5s;
}

.addCart{
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  margin-left:30px;
  border: none;
  cursor: pointer;
  border-radius:10px;
  transition-duration: 0.5s;
  margin-right:20px;
}

.addCart:hover{
  background-color: white;
  color: black;
}
.productButton:hover {
  background-color: white;
  color: black;
}

.productButtons{
  display: flex;
}
.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

.newSeason {
  display: flex;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
  margin-top: 30;
  padding: 5px;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  margin-top:20px;
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  margin:10px 0;
  padding: 5px;
  display:inline;
}

.fButton {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: -3rem;
    cursor: pointer;
}

.fIcons{
  display: flex;
  font-size:20px;
}

.fIcons i{
  margin-right:5px;
  padding:10px;
  color:black;
}
.copyright{
  font-weight: 300;
  font-size: 14px;
}

.fInput{
  padding:15px;
  background:white;
  border:2px solid black;
  border-radius: 20px;
  color:black;
}

@media screen and (max-width:480px) {
  nav{
    padding: 20px;
  }

  .search{
    display: none;
  }

  .navBottom{
    flex-wrap: wrap;
  }

  .menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider{
    clip-path: none;
  }

  .sliderImg{
    width: 90%;
  }

  .sliderBg{
    width: 100%;
    height: 100%;
  }

  .sliderTitle{
    display: none;
  }

  .sliderPrice{
    top: unset;
    bottom: -50;
    left: 0;
    background-color: lightgrey;
  }

  .buyButton{
    right: 0;
    top: 0;
  }

  .features{
    flex-direction: column;
  }

  .product{
    clip-path: none ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImg{
    width: 80%;
  }

  .productDetails{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle{
    font-size: 50px;
    margin: 0;
  }

  .gallery{
    display: none;
  }

  .newSeason{
    flex-direction: column;
  }

  .nsItem:nth-child(2){
    padding: 50px;
  }

  footer{
    flex-direction: column;
    align-items: center;
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment{
    width: 90%;
    padding: 20px;
  }
}

.back-top{
    height: 40px;
    display: flex;
    margin: 10px;
    font-size: xx-large;
    width: 40px;
    border-radius: 20px;
    color: black;
    background-color: blanchedalmond;
    align-items: center;
    text-decoration: none;
    border: 2px solid black;
    justify-content: center;
}

.cartDetail{
    width: 500px;
    height: 520px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    display:flex;
    top:100px;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    z-index:1;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.closed {
  width: 30px;
  height: 30px;
  font-weight: 600;
  font-size:20px;
  position: absolute;
  background-color: white;
  color: gray;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 2px;
}

.cart{
  border-bottom: 2px solid limegreen;
  padding:10px;
}

.cart h1{
  margin-bottom: 10px;
}
.back-top{
  position: fixed;
    right: 0;
    bottom: 0
}

.cartDetail img{
  height:50px;
  width:50px;
}

.Items{
  margin:10px -4px;
  color: white;
  font-weight:500;
  font-size:17px;
}

.ItemName{
  margin-left:20px;
}
.Item{
  background:rgb(124, 115, 80);
  margin:8px;
  border-radius: 20px;
  border:2px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.cart-Title{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.ItemNum{
  margin-left:80px;
  position: absolute;
  right:25px;
}

.next-back{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: -300px;
}

.back-top i{
  color:black;
}

.cardIcons i{
  margin-right:10px;
}

.Input{
  display: flex;
}

.TotalItem{
  color: black;
  font-weight: 800;
  font-size: 17px;
  position: absolute;
  right: 70px;
  top: 360px;
}

.next-back{
  display: flex;
  margin-top:-500px;
  font-size:50px;

}

.next:hover i{
  color: gray;
}

.back:hover i{
  color:gray;
}
.next-back i{
  color: black;
}
.next{
  position: absolute;
  right:650px;
}

.back{
  position: absolute;
  left: 10px;
}
.cartDetail-footer{
  display: flex;
  position: absolute;
  bottom: 15px;

}
.addProduct{
  padding:10px 20px;
  color:white;
  background-color: brown;
  border-radius: 20px;
  border: 2px solid black;
}

.delete{
  padding:10px 30px;
  color:white;
  background-color: brown;
  border-radius: 20px;
  border: 2px solid black;
  margin-left: 130px;
}

.closed2 {
  width: 30px;
  height: 30px;
  font-weight: 600;
  font-size:20px;
  position: absolute;
  background-color: white;
  color: gray;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 2px;
}

.chatDetail{
  width: 500px;
  height: 650px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  display:flex;
  top:100px;
  right:0;
  left:0;
  bottom:0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  z-index:1;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.chatTop{
  padding: 20px 0 10px;
  font-size: 20px;
  border-bottom: 1.5px solid limegreen;
  font-weight: 900;
  color: slategray;
}

.chatImg{
  margin-left: 70px;
  border: 1px solid lightgray;
  border-radius: 3px;
  height:60px;
  width:60px;
}

.chatTitle{
  text-decoration: none;
  display: flex;
  font-weight: 600;
  margin: 5px 0 10px;
}

.chatItem a{
  text-decoration: none;
}

.chatItem i{
  font-size: 30px;
  color: black;
  height: 50px;
  font-weight: 100;
  display: flex;
  align-items: center;
  width: 50px;
  border:1px solid lightgray;
  justify-content: center;
  border-radius: 100%;
}

.product_Status{
  padding-left: 70px;
  transform: translateY(-50px);
  position: relative;
}

.biggerChat{
  position: absolute;
  right: 50px;
  transform: translateY(3.5px);
  cursor:pointer;
}

.chatFooter{
  display: flex;
  flex-direction: column;
}

.chatTime{
  margin: -40px 70px 0;
  font-weight: 400;
  font-size: 15px;
  color: gray;
}

.message{
  position: relative;
}

.detail_message img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.detail_message{
  display: flex;
  flex-direction: row;
}

.shop_name{
  margin-left: 20px;
  font-weight: bold;
}

.message_time{
  position: absolute;
  right:0;
}

.shop_content{
  position: absolute;
  left: 80px;
  top: 105px;
  bottom: -1px;
  border-bottom: 1px solid gray;
}

.message_title{
  margin: 20px 0;
  border-top: 1px solid gray;
  padding: 20px 0 0;
  font-size: 17px;
  font-weight: bold;
}


